In [1]:
import pandas as pd

Definiendo una lista de datos junto con sus índices

In [3]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index = [1,7,10,30])

In [4]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

¿Qué pasa si no me sé los índices?

In [5]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

Otorga los ínidces de forma ordenada

Otra forma de hacerlo es con un diccionario

In [7]:
diccionario = {1:'Navas', 7:'Mbappe',10:'Neymar', 30:'Messi'}
pd.Series(diccionario)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [10]:
psg_players[10] #Puedo acceder por índices a los datos

'Neymar'

¿Qué pasa si no quiero manejar un arreglo de tipo unidireccional?

In [11]:
psg_players2 = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

Puedo hacer slicing

In [12]:
psg_players2[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

¿Qué pasa si tengo más características de los jugadores?

Por ejemplo el siguiente diccionario

In [14]:
my_dic = {'Jugador':['Navas', 'Mbappe', 'Neymar', 'Messi'], 
'Altura': [183.0, 170.0, 170.0, 165.0], 
'Goles anotados': [2, 500, 650, 1340]}

Y los quiero relacionar con sus índices

Así obtendré una estructura matricial usando pd.DataFrame

In [18]:
df_psg_players = pd.DataFrame(my_dic, index = [1,7,10,30])
df_psg_players

   Jugador  Altura  Goles anotados
1    Navas   183.0               2
7   Mbappe   170.0             500
10  Neymar   170.0             650
30   Messi   165.0            1340

In [16]:
pd.DataFrame(my_dic) #Sin index

  Jugador  Altura  Goles anotados
0   Navas   183.0               2
1  Mbappe   170.0             500
2  Neymar   170.0             650
3   Messi   165.0            1340

In [19]:
df_psg_players.columns

Index(['Jugador', 'Altura', 'Goles anotados'], dtype='object')

In [21]:
df_psg_players.index

Int64Index([1, 7, 10, 30], dtype='int64')